---
import Welcome from '../components/Welcome.astro';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JVS6C41WQJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JVS6C41WQJ');
    </script>
    <title>TVS - Descubre tu versión biker</title>
  </head>
  <body>
    <Welcome />
  </body>
</html>