---
import Welcome from '../components/Welcome.astro';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>TVS - Descubre tu versión biker</title>
  </head>
  <body>
    <Welcome />
  </body>
</html>